body{
	background-color: #151515;
}

.card{
	width:clamp(150px, 95vw, 250px);
	box-shadow: 0 0 0.5rem rgba(255, 0, 0, 1);
	outline: 2px solid rgba(255, 0, 0, 1);
	overflow: hidden;
	color: #fff;
	cursor:pointer;
}

.img{
	width:100%;
	height:200px;
	overflow:hidden;
	position:relative;
	transition:200ms ease-in-out transform;
}

.img img{
	width: 100%;
	height:100%;
	object-fit:cover;
}